<div class="container p-3 bg-light text-center">
  <h1 id="blog-title" class="text-center pt-5 mb-5 text-justify">Create New Blog</h1>
  <form action="/save-blog" method="POST">
    <div class="form-group">
      <label class="float-left" for="blogTitle">Name of the blog:</label>
      <input type="text" class="form-control" id="blogTitle" name="blogTitle" placeholder="Blog title">
    </div>
    <div class="form-group mt-5">
      <label class="float-left" for="blogContent">Write your blog here:</label>
      <textarea class="form-control" id="blogContent" name="blogContent" rows="3" placeholder="What is your blog about?"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Save blog post</button>
  </form>
</div>