<div class="container text-center text-justify">
  <div id="heading" class="mt-3 mb-5">
    <h1>Blogs</h1>
  </div>

  {{#if message}}
  <h2 class="text-success rounded bg-light mb-5 pb-2">{{{ message }}}</h2>  
  {{/if}}
  
  <div id="blogs">
    {{#each blognames}}
        <a class="mb-3" href="/blog/{{{ this }}}"><h2>{{{ this }}}</h2></a>
    {{/each}}
  </div>
</div>