<div class="container bg-light text-center">
    <h1 id="blog-title" class="text-center pt-5 mb-5 text-justify">{{{ blog.Title }}}</h1>
    <p class="text-justify">{{ blog.Body }}</p>

    <a href="/" class="btn btn-primary">Back to Blog List</a>
</div>